{% extends "layout.html" %}
{% block body %}
    <div class="container main">
    <div class="row">
    <div class="col-md-12">
        搜索说明：使用空格分割多个关键词，关键词包括：成品门幅（200CM），克重（100GSM），密度（20*30*45），
        成品密度（400T），成分（75%P25%N），纱支（200D+100D），组织（平纹）

        搜索示例：
        1.消光横条四面弹 40CM 100D
        结果（可点击公司名查看详情）：
        嘉兴市华炬纺织有限公司（嘉兴市华建纺织有限公司）
        消光横条四面弹 (70D+40D) (70D+40D*40D+20D) 0 0
        锦纶梅花格四面弹 (100D+40D) (100D+40D) 0 0
        苏州鑫昌纺织
        210T四面弹春亚纺 100D+40D 100D+40D 46*37 0 0
        斜纹四面弹 100D+40D 100D+40D 43*35 0 0
        SSY双面缎 100D+50D 50D*100D+100D 0 0
        四面弹乱麻 100D+40D 100D+40D 48*42 0 0
        消光尼龙横条四面弹 70D+40D 70D+40D+40D+20D 61*52 0 0

        2.尼丝纺 40
        结果（可点击公司名查看详情）：
        吴江华聚纺织发展有限公司
        尼丝纺 40 40 300T None 0 0
        尼丝纺 70 70 190T None 0 0
        尼丝纺 70 70 210T None 0 0
        尼丝纺 70 70 230T None 0 0
        尼丝纺 40 40 300T None 0 0
        吴江市金利达特阔布业制造厂
        复合丝乱麻 50D+50D+40D（11T) 50D+50D+40D(11T) 12.5*3*29 0 0
        锦粘变斜 30D单丝（18T) R40S(23T) 20*4*39 0 0
        雪纺 40D三角有光丝（21T) 40D三角有光丝(21T) 19*3*43.5 0 0
        四面弹 50D+50D+40D（9T) 50D+50D+40D（9T) 14*4*32 0 0
        富贵缎 70D+40D 21S 18*2*28 0 0

        
    </div>
    </div>
    </div>
    <div class="footer col-md-offset-5 col-md-4">
        <a href="/help">使用说明</a>
        <a href="#">用户反馈</a>
        <a href="#">关于</a>
    </div>
{% endblock %}