{% extends "layout.html" %}
{% block body %}
    <div class="container main">
    <div class="row">
    <div class="col-md-12">
        <div class="user-info">
            <div class="user-block"><span>{{username}}</span><span><a href='/logout'>退出</a></span></div>
        </div>
        <hr>
        <div class="space" style="height: 80px; margin-bottom: 40px"></div>
        <h1 class="form-signin-heading" align="center" style="margin-bottom:40px">纺织大脑</h1>
        
        <div class="form">
            <form class="form-horizontal" method="POST" action="/full-search">
                <div class="form-group">
                    <!--label for="inputQuery" class="col-sm-2 control-label"></label-->
                    <div class="col-sm-5 col-md-offset-3"> 
                        <input name="query" type="text" id="inputQuery" class="form-control" placeholder="">
                    </div>
                    <div class="col-sm-2"> 
                        <button class="btn btn-primary btn-block" type="submit">模糊搜索</button>
                    </div>
                </div>
                
            </form>
        </div>
        
    </div>
    </div>
    </div>
    <div class="footer col-md-offset-5 col-md-4">
        <a href="/help">使用说明</a>
        <a href="#">用户反馈</a>
        <a href="#">关于</a>
    </div>
    <!--div>
    <form method="POST" action='/search'>
        类型<input type="text" name='name'> 
        经纱<input type="text" name='js'> 
        纬纱<input type="text" name='ws'> 
        密度<input type="text" name='md'> 
        克重<input type="text" name='kz'> 
        门幅<input type="text" name='xjmf'> 
        机器类型<select name='zz'><option value='平纹'>平纹</option><option value='斜纹'>斜纹</option> </select>
        <input type="submit">Search
    </form>
    </div-->
{% endblock %}