{% extends "layout.html" %}
{% block body %}
    
    <div class="container main">
    <div class="row">
    <div class="col-md-12">
        <div class="user-info">
            <div class="user-block"><span>{{username}}</span><span><a href='/logout'>退出</a></span></div>
        </div>
        <hr>
        <div class="space" style="height: 80px; margin-bottom: 40px"></div>
        <h1 class="form-signin-heading" align="center" style="margin-bottom:40px">纺织大脑</h1>
        
        <div class="form">
            <form class="form-horizontal" method="POST" action="/full-search">
                <div class="form-group">
                    <!--label for="inputQuery" class="col-sm-2 control-label"></label-->
                    <div class="col-sm-5 col-md-offset-3"> 
                        <input name="query" type="text" id="inputQuery" class="form-control" placeholder="">
                    </div>
                    <div class="col-sm-2"> 
                        <button class="btn btn-primary btn-block" type="submit">模糊搜索</button>
                    </div>
                </div>
                
            </form>
        </div>
        
    </div>
    </div>
    </div>
{% endblock %}
