{% extends "layout.html" %}
{% block body %}
    <div class="container">
    <div class="row">
    <div class="col-md-12">
        <div class="user-info">
            <div class="user-block"><span>{{username}}</span><span><a href='/logout'>退出</a></span></div>
        </div>
        <hr>
        <div class="space" style="height: 80px; margin-bottom: 40px"></div>
        <h1 class="form-signin-heading" align="center" style="margin-bottom:40px">纺织大脑</h1>
        
        <div class="form">
            <form class="form-horizontal" method="POST" action="/full-search">
                <div class="form-group">
                    <!--label for="inputQuery" class="col-sm-2 control-label"></label-->
                    <div class="col-sm-5 col-md-offset-3"> 
                        <input name="query" type="text" id="inputQuery" class="form-control" placeholder="">
                    </div>
                    <div class="col-sm-2"> 
                        <button class="btn btn-primary btn-block" type="submit">模糊搜索</button>
                    </div>
                </div>
                
            </form>
        </div>
        <!--div class='form'>
            <form class="form-horizontal" method="POST" action='/search'>
                

                <div class="form-group">
                    <label for="input-type" class="col-sm-2 control-label">类型</label>
                    <div class="col-sm-10">
                        <input name="name" type="text" id="inputEmail" class="form-control" placeholder="" autofocus>
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputJS" class="col-sm-2 control-label">经纱</label>
                    <div class="col-sm-10"> 
                    <input name="js" type="text" id="inputPassword" class="form-control" placeholder="">
                </div>
                </div>

                <div class="form-group">
                <label for="inputWS" class="col-sm-2 control-label">纬纱</label>
                <div class="col-sm-10"> 
                <input name="ws" type="text" id="inputPassword" class="form-control" placeholder="">
            </div>
            </div>

                <div class="form-group">
                <label for="inputJS" class="col-sm-2 control-label">密度</label>
                <div class="col-sm-10"> 
                <input name="md" type="text" id="inputPassword" class="form-control" placeholder="">
            </div>
            </div>

                <div class="form-group">
                <label for="inputJS" class="col-sm-2 control-label">克重</label>
                <div class="col-sm-10"> 
                <input name="kz" type="text" id="inputPassword" class="form-control" placeholder="">
            </div>
            </div>

                <div class="form-group">
                <label for="inputJS" class="col-sm-2 control-label">门幅</label>
                <div class="col-sm-10"> 
                <input name="xjmf" type="text" id="inputPassword" class="form-control" placeholder="">
            </div>
            </div>

                <div class="form-group">
                <label for="inputJS" class="col-sm-2 control-label">织机</label>
                <div class="col-sm-10"> 
                <select class="form-control" name='zz'>
                    <option value="">--</option>
                    <option value="平纹">平纹</option>
                    <option value="斜纹">斜纹</option>
                </select>
            </div>
            </div>
                
                <button class="btn btn-lg btn-primary btn-block" type="submit">匹配搜索</button>
            </form>
        </div-->
        </div>
        </div>
    </div>
    <!--div>
    <form method="POST" action='/search'>
        类型<input type="text" name='name'> 
        经纱<input type="text" name='js'> 
        纬纱<input type="text" name='ws'> 
        密度<input type="text" name='md'> 
        克重<input type="text" name='kz'> 
        门幅<input type="text" name='xjmf'> 
        机器类型<select name='zz'><option value='平纹'>平纹</option><option value='斜纹'>斜纹</option> </select>
        <input type="submit">Search
    </form>
    </div-->
{% endblock %}