.user-info{
    margin-top: 4px;
    height: 22px;
}
.user-info1{
    margin-top: 4px;
    height: 42px;
}
.user-block{
    float: right;
}
.user-block span{
    margin: 2px 4px 12px 4px;
}
.btn{
    cursor: pointer;
    width: 102px;
    height: 38px;
    line-height: 38px;
    padding: 0;
    border: 0;
    background: none;
    background-color: #38f;
    font-size: 16px;
    color: white;
    box-shadow: none;
    font-weight: normal;
}
hr{
    color: gray;
    margin: 0;
    padding: 0;
}
ul.result-ul{
    padding-left: 15px;
}
ul.result-ul li{
    list-style: none;
    font-size: 16px;
    margin-bottom: 10px;
}
ul.com-orders{
    padding-left: 15px;
}
ul.com-orders li{
    list-style: none;
    font-size: 16px;
    margin-bottom: 10px;
}
.form-left{
    float: left;
    width: 800px;
}
.form-left .form-group{
    margin-bottom: 0px;
}
.form-left form{
    margin-bottom: 0px;
}
a.form-title{
    float: left;
    width: 100px;
    font: bold 25px arial,sans-serif;
}
a.form-title:link {text-decoration: none;}
a.form-title:visited {text-decoration: none;}
a.form-title:hover { text-decoration: none;}
a.form-title:active {text-decoration: none;}
.main {
    height: 100%;
    margin-bottom: -50px;
}

h1 a{
    text-decoration: none;
    color: black;
}
h1 a:hover{
    text-decoration: none;
    color: black;
}

.ui-com {
    font-size: 14px;
    max-height: 100px;
    max-width: 172px;
    overflow-y: auto;
    /* 防止水平滚动条 */
    overflow-x: hidden;
}

footer{
    height: 50px;
    margin-left: 400px;
}
footer ul{

}
footer ul li{
    list-style: none;
    float: left;
    margin-left: 20px;
}
